vlan_configurations:
  - vlan_id: "{{ vlan_id }}"
    vlan_name: "{{ vlan_name }}"
    vlan_untagged_interfaces: "{{ vlan_untagged_interfaces }}"
    uplink_trunk_ports: "{{ uplink_trunk_ports }}"
    downlink_trunk_ports: "{{ downlink_trunk_ports }}"
    lag_trunk_ports1: "{{ lag_trunk_ports1 }}"
    lag_trunk_ports2: "{{ lag_trunk_ports2 }}"
    port_channel: "{{ port_channel | default('3/1') }}"
  - vlan_id: "80"
    vlan_name: "access"
  - vlan_id: "50"
    vlan_name: "data-0"
  - vlan_id: "51"
    vlan_name: "data-1"
  - vlan_id: "52"
    vlan_name: "data-2"
  - vlan_id: "53"
    vlan_name: "data-3"
  - vlan_id: "60"
    vlan_name: "voice"
  - vlan_id: "70"
    vlan_name: "guest"  