---
- name: Probar NetBox lookup y ver estructura
  hosts: localhost
  gather_facts: no

  tasks:
    - name: Query devices from NetBox and display details
      debug:
        msg: >
          "Device {{ item.value.name }} (ID: {{ item.key }}) was
           manufactured by {{ item.value.device_type.manufacturer.name }}"
      loop: "{{ query('netbox.netbox.nb_lookup', 'devices',
                      api_endpoint='https://10.1.1.87/',
                      token='aacf5a29ceeeaaceae12add71f1c9ca44f6c79dd',
                      validate_certs=False) }}"