[defaults]
inventory = inventories/development/hosts.yml
remote_user = ansible_user
ask_pass = true
host_key_checking = false
retry_files_enabled = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no